In [1]:
import pandas as pd

camp_d = pd.read_csv('camp_demographics.csv')
camp_d.head()

,Unnamed: 0,campfilename,month,year,camppopulation,campcapacity,overcapacity,adultmales,adutfemales,children,monthyear,cmy
0,0,Adasevci_SRB_010,1,2018,327,450,0.0,0.45,0.19,0.36,12018,Adasevci_SRB_010012018
1,1,Bujanovac_SRB_001,1,2018,129,220,0.0,0.35,0.24,0.41,12018,Bujanovac_SRB_001012018
2,2,Divljana_SRB_002,1,2018,83,280,0.0,0.27,0.25,0.48,12018,Divljana_SRB_002012018
3,3,Kikinda_SRB_007,1,2018,162,240,0.0,0.33,0.18,0.49,12018,Kikinda_SRB_007012018
4,4,Krnjaca_SRB_003,1,2018,643,1000,0.0,0.42,0.17,0.41,12018,Krnjaca_SRB_003012018

In [2]:
camp_d = camp_d.drop(['Unnamed: 0'],axis=1)
camp_d.head()

,campfilename,month,year,camppopulation,campcapacity,overcapacity,adultmales,adutfemales,children,monthyear,cmy
0,Adasevci_SRB_010,1,2018,327,450,0.0,0.45,0.19,0.36,12018,Adasevci_SRB_010012018
1,Bujanovac_SRB_001,1,2018,129,220,0.0,0.35,0.24,0.41,12018,Bujanovac_SRB_001012018
2,Divljana_SRB_002,1,2018,83,280,0.0,0.27,0.25,0.48,12018,Divljana_SRB_002012018
3,Kikinda_SRB_007,1,2018,162,240,0.0,0.33,0.18,0.49,12018,Kikinda_SRB_007012018
4,Krnjaca_SRB_003,1,2018,643,1000,0.0,0.42,0.17,0.41,12018,Krnjaca_SRB_003012018

In [3]:
len(camp_d.iloc[0].cmy)

22

In [4]:
camp_d.to_csv('camp_demographics.csv')
camp_d.to_csv('TESTcamp_demographics.csv')